*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.body {
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  background-color: #c4b5d7;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.header{
  position: relative;
  text-align: center;
  display: flex;
  top: 30;
}

.payoff{
  position: relative;
  text-align: center;
  display: flex;
  bottom: 30;
  top: 50;

}

.img {
  
  
  vertical-align: middle;
}

.footer{
  position: relative;
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;
}
.paragraph {
  font-size: 18px;
  text-align: left;
}

.titleH1 {
  text-align: center;
}

.login-panel{
  background-color: #7c68a8;
  display: flex;
  flex-direction:column;
  margin-top: 200px;
  padding: 20px;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
}

.submit-button{
  cursor: pointer;
}

.form-control{
  border-radius: 5px;
  border: none;
  padding: 8px;
}

.div-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  width: 50%;
  background-color: #edd78c;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  padding: 8px;
  cursor: pointer;
}

.btn:hover{
  background-color: #c4b5d7;
  color: black
}

.icon{
  vertical-align: middle; 
}

.error-message{
  color: red
}

.register-access{
  font-size: 10px;
}


.col{
  display: flex;
  margin-block: 7px;
}

.riga-form-register, .riga-form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-content: center;
  
 }
 .riga-form-register{
  width: 50%;
 }
 .riga-form-login {
  flex-flow: row wrap;
 }
 
label{
  font-size: 12px;
  
}

input, select {
  font-size: 10px;
  width: 60%;
}

.left {
  width: 25%;
}

.privacy_policy {
  display: flex;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 50px;
  margin-top: 400px;
}


.select-option {
  display: flex;
  gap: 10px;
  font-size: 15px;
  
}

.select-field{
  width: 150px;
  margin-bottom: 50px;
  font-size: 14px;
  border-radius: 5px;

}

.welcome-user {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 200px;
  
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  width: 90%;
}

img {
  height: 100px;
}

.book {
  width: 250px;
  flex-wrap: wrap;
  border: 1px solid #7c68a8;
  border-radius: 10px;
  padding: 8px;
  background-color: #7c68a8;
  height: 400px;
  
}

.book:hover{
  cursor: pointer;
  transform: scale(1.05);
  filter: drop-shadow(8px 8px 10px #7c68a8);
}


.image-space{
 
  
  
  text-align: center;
  background-color: rgb(197, 215, 252);
  border-radius: 10px;
}

.testo {
  margin: 10px;
}
.book-cover {
  
  object-fit: fill;
}

.return-btn {
margin-top: 600px;
margin-bottom: 100px;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loader-text {
  text-align: center;
  margin-top: 50px;
}