*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  vertical-align: middle;
}

.app {
  background-color: cornflowerblue;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  
}

.header{
  position: absolute;
  top: 0;
}

.footer{
  position: absolute;
  bottom: 0;
} 

.paragraph {
  font-size: 12px;
  text-align: left;
}

.titleH2{
  text-align: center;
}

.login-panel{
  background-color: bisque;
  display: flex;
  flex-direction:column;
  padding: 20px;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
}

.form-control{
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.div-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.btn{
  width: 50%;
  background-color: rgb(244, 169, 29);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  padding: 8px;
  cursor: pointer;
}

.btn:hover{
  background-color: cornflowerblue;
  color: black
}
.icon{
  vertical-align: middle; 
}

.error-message{
  color: red;
  font-size: 10px;
}
.register-access{
  font-size: 10px;
}
.col{
  display: flex;
  margin-block: 7px;
}

.riga-form-register, .riga-form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-content: center;
  
 }
 .riga-form-register{
  width: 50%;
 }
 .riga-form-login {
  flex-flow: row wrap;
 }
 
label{
  font-size: 10px;
  
}

input, select {
  font-size: 10px;
  width: 60%;
}

.left {
  width: 25%;
}

.privacypolicyline{
  display: flex;
}
h1 {
  text-align: center;
  margin-top: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 50px;
}

.select-option {
  display: flex;
  gap: 10px;
  font-size: 15px;
  
}

.select-field{
  width: 150px;
  margin-bottom: 50px;
  font-size: 14px;
  border-radius: 5px;

}
.bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  width: 90%;
}

img {
  height: 200px;
}

.book {
  width: 250px;
  border: 1px solid rgb(12, 3, 108);
  border-radius: 10px;
  padding: 8px;
  background-color: azure;
  height: 400px;
  
}

.book:hover{
  cursor: pointer;
  transform: scale(1.05);
  filter: drop-shadow(8px 8px 10px blue);
}


.image-space{
  text-align: center;
  background-color: rgb(197, 215, 252);
  border-radius: 10px;
}

.testo {
  margin: 10px;
}
.cover {
  object-fit: cover;
}


